.add-new {
    margin-top: 30px;
    float: right;
    margin-bottom: 30px;
    margin-right: 27px;
    width: 155px;
    height: 51px;
    font-size: 18px !important;
}
.br-8 {
    border-radius: 8px;
}
.thead-light-green {
    height: 70px;
    font-size: 15px;
    line-height: 51px;
    color: #106210;
    border-bottom: 2px solid;
}
.bg-light-green {
    background-color: #c0f2c0 !important;
}
.br-l-8 {
    border-top-left-radius: 8px;
}
.br-r-8 {
    border-top-right-radius: 8px;
}
.box {
    text-align: center;
    box-shadow: 0px 0px 18px -5px rgb(10 128 22 / 75%);
    -webkit-box-shadow: 0px 0px 18px -5px rgb(10 128 22 / 75%);
    -moz-box-shadow: 0px 0px 18px -5px rgba(10,128,22,0.75);
}